In [1]:
import pandas as pd
import numpy as np

In [2]:
#读取文件
data = pd.read_csv("car/second_cars_info.csv",encoding='GB18030')

In [3]:
#未上牌比例
nocard_car_total = data[data.Boarding_time == "未上牌"].count()[0]
nocard_car_total/data.count()[0]

0.00824395000443223

In [27]:
#上牌比例
data.count()[0] - nocard_car_total/data.count()[0]

11280.991756049996

In [28]:
#清洗中文
data['New_price'] = data['New_price'].str.extract('(\d+\.?\d+)', expand=True)
data['Km'] = data['Km'].str.extract('(\d+\.?\d+)', expand=True)
data['New_price'] = data['New_price'].astype('float')
data['Sec_price'] = data['Sec_price'].astype('float')
data['Km'] = data['Km'].astype('float')

In [5]:
#删除未上牌车辆
data.drop(data[(data.Boarding_time == "未上牌")].index.tolist())

,Brand,Name,Boarding_time,Km,Discharge,Sec_price,New_price
0,奥迪,奥迪A6L 2006款 2.4 CVT 舒适型,2006年8月,9.00万公里,国3,6.90,50.89万
1,奥迪,奥迪A6L 2007款 2.4 CVT 舒适型,2007年1月,8.00万公里,国4,8.88,50.89万
2,奥迪,奥迪A6L 2004款 2.4L 技术领先型,2005年5月,15.00万公里,国2,3.82,54.24万
3,奥迪,奥迪A8L 2013款 45 TFSI quattro舒适型,2013年10月,4.80万公里,欧4,44.80,101.06万
4,奥迪,奥迪A6L 2014款 30 FSI 豪华型,2014年9月,0.81万公里,"国4,国5",33.19,54.99万
...,...,...,...,...,...,...,...
11276,中华,中华V3 2016款 1.5L 自动 智能型,2016年6月,1.90万公里,"国4,国5",7.00,9.63万
11277,中华,骏捷FRV 2010款 1.3MT 舒适型,2011年6月,5.00万公里,国4,2.20,6.22万
11278,中华,骏捷 2007款 1.8 MT 豪华型,2007年10月,8.50万公里,国3,1.80,11.48万
11279,中华,骏捷FSV 2010款 1.5MT精英型,2011年12月,7.80万公里,国4,2.10,8.99万
11280,中欧房车,尊逸 2013款 3.5L 尊逸A型,2014年4月,6.80万公里,欧4,53.80,168.25万

In [6]:
#提取上牌车年月信息
data[['Name','Boarding_time']].loc[data['Boarding_time'] !='未上牌']

                                 Name Boarding_time
0             奥迪A6L 2006款 2.4 CVT 舒适型       2006年8月
1             奥迪A6L 2007款 2.4 CVT 舒适型       2007年1月
2              奥迪A6L 2004款 2.4L 技术领先型       2005年5月
3      奥迪A8L 2013款 45 TFSI quattro舒适型      2013年10月
4              奥迪A6L 2014款 30 FSI 豪华型       2014年9月
...                               ...           ...
11276          中华V3 2016款 1.5L 自动 智能型       2016年6月
11277           骏捷FRV 2010款 1.3MT 舒适型       2011年6月
11278             骏捷 2007款 1.8 MT 豪华型      2007年10月
11279            骏捷FSV 2010款 1.5MT精英型      2011年12月
11280              尊逸 2013款 3.5L 尊逸A型       2014年4月

[11188 rows x 2 columns]

In [9]:
#车辆价格分布情况
pd.cut(x=data.Sec_price,bins=[0,20,40,60,80,100,200],
       labels=['0_20w','20_40w','40_60w','60_80w','80_100w','100_200w'],
       ).value_counts()

0_20w       7875
20_40w      1837
40_60w       525
60_80w       339
100_200w     286
80_100w      174
Name: Sec_price, dtype: int64

In [20]:
#车辆销量品牌分布
brand = {"奔驰":data[data.Brand == "奔驰"].count()[0],
         "宝马":data[data.Brand == "宝马"].count()[0],
         "奥迪":data[data.Brand == "奥迪"].count()[0]}
brand_all = pd.DataFrame(brand,index=['销量'])
brand_all

     奔驰   宝马   奥迪
销量  895  773  758

In [22]:
#排放标准分析
data["Discharge"].value_counts()

国4           4300
欧4           1898
欧5           1201
国4,国5         848
国3            798
国5            683
欧3            292
--            276
国2            241
国4,京5         223
国3,OBD        119
OBD            90
国4,OBD         63
欧4,OBD         62
OBD,国5         38
欧6             36
国4,OBD,国5      31
国5,京5          22
欧5,OBD          9
欧4,欧5           9
欧5,国4           7
欧4,国3           7
国4,OBD,京5       6
欧4,国4           6
欧4,国4,OBD       5
欧3,欧4           2
欧5,国5           2
国4,国5,京5        1
欧1              1
欧2              1
京5              1
国3,国4           1
欧4,--           1
欧5,国4,国5        1
Name: Discharge, dtype: int64

In [30]:
#里程分析
pd.cut(x=data.Km,bins=[0,3,6,9,12,15,1000000],
       labels=['0_3','4_6','7_9','10_12','13_15','15+'],
       ).value_counts()

7_9      3734
4_6      3455
0_3      2218
10_12    1239
13_15     361
15+       177
Name: Km, dtype: int64

In [32]:
data['zhejiu'] = data.apply(lambda x: x['Sec_price'] / x['New_price'], axis=1)
pd.cut(data['zhejiu'], bins=[0,0.2,0.4,0.6,0.8,1],
                labels=['20%-','20%-40%','40%-60%','60%-80%','80%+'],
                include_lowest=True).value_counts()

20%-40%    4402
40%-60%    3242
60%-80%    1898
20%-       1002
80%+        485
Name: zhejiu, dtype: int64